  <h1>Buscador de Artistas</h1>
  <form action="/artist-search" method="GET">
    <label for="artistName">Nombre del Artista:</label>
    <input type="text" id="artistName" name="artistName" required>
    <button type="submit">Buscar</button>
  </form>


